frr version 8.1
frr defaults traditional
hostname k3s-node-03
no ipv6 forwarding
service integrated-vtysh-config

router bgp 4242420513
 neighbor 10.108.0.2 remote-as 4242420513
 neighbor 10.108.0.2 description k3s-node01
 neighbor 10.108.0.3 remote-as 4242420513
 neighbor 10.108.0.3 description k3s-node02
address-family ipv4 unicast
 network 10.108.0.0/20
 network 172.20.0.0/14
 network 172.22.147.160/27
exit

