frr version 10.0
frr defaults traditional
hostname {{ routers[inventory_hostname].hostname }}
log syslog informational
service integrated-vtysh-config
!
debug zebra rib
debug bgp keepalives
debug bgp neighbor-events
debug bgp update-groups
debug bgp updates in
debug bgp updates out
debug bgp zebra
!
router bgp 4242420513

 # HOMELAB EASIERNETWORKS
 no bgp ebgp-requires-policy
 neighbor {{ routers[inventory_hostname].home_neighbor.ip }} remote-as {{ routers[inventory_hostname].home_neighbor.asn }}
 neighbor {{ routers[inventory_hostname].home_neighbor.ip }} description HOME
 neighbor {{ routers[inventory_hostname].home_neighbor.ip }} ebgp-multihop
 neighbor {{ routers[inventory_hostname].home_neighbor.ip }} disable-connected-check
 neighbor {{ routers[inventory_hostname].home_neighbor.ip }} soft-reconfiguration inbound

 # EDGE-RTR-PEER
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} remote-as {{ routers[inventory_hostname].edge_neighbor.asn }}
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} description {{ routers[inventory_hostname].edge_neighbor.description }}
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} update-source wg2
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} soft-reconfiguration inbound

 # DN42
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} remote-as {{ routers[inventory_hostname].dn42_neighbor.asn }}
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} description {{ routers[inventory_hostname].dn42_neighbor.description }}
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} interface wg1
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} disable-connected-check
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} soft-reconfiguration inbound
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} route-map dn42 out

{% if routers[inventory_hostname].local_preference is defined %}
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} route-map set-local-pref-in in
{% endif %}
 !
 address-family ipv4 unicast
  network 172.20.0.0/14
  network 172.22.147.160/27
  network 192.168.255.0/30
  network 192.168.254.0/30
  network 169.254.1.0/24
 exit-address-family
exit
!
access-list dn42 seq 5 permit 172.22.147.160/27
route-map dn42 permit 10
 match ip address dn42
exit
!
{% if routers[inventory_hostname].local_preference is defined %}
route-map set-local-pref-in permit 10
 match ip address internal
 set local-preference {{ routers[inventory_hostname].local_preference }}
exit
{% endif %}
end

