frr version 10.0
frr defaults traditional
hostname {{ routers[inventory_hostname].hostname }}
log syslog informational
service integrated-vtysh-config
!
debug zebra rib
debug bgp keepalives
debug bgp neighbor-events
debug bgp update-groups
debug bgp updates in
debug bgp updates out
debug bgp zebra
!
ip route 172.22.147.160/27 Null0
!
router bgp 4242420513

 # EDGE-RTR-PEER
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} remote-as {{ routers[inventory_hostname].edge_neighbor.asn }}
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} description {{ routers[inventory_hostname].edge_neighbor.description }}
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} update-source wg2
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} soft-reconfiguration inbound
{% if inventory_hostname == 'edge-rtr-01' %}
 neighbor {{ routers[inventory_hostname].edge_neighbor.ip }} route-map LOCALPREF_PEER in
{% endif %}

 # DN42
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} remote-as {{ routers[inventory_hostname].dn42_neighbor.asn }}
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} description {{ routers[inventory_hostname].dn42_neighbor.description }}
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} interface wg1
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} disable-connected-check
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} soft-reconfiguration inbound
 neighbor {{ routers[inventory_hostname].dn42_neighbor.ip }} route-map dn42 out

 !
 address-family ipv4 unicast
  network 172.20.0.0/14
  network 172.22.147.160/27
  network 169.254.1.0/24
 exit-address-family
exit
!
access-list dn42 seq 5 permit 172.22.147.160/27
{% if inventory_hostname == 'edge-rtr-01' %}
access-list LOCAL_PREF seq 5 permit 172.20.0.0/14
{% endif %}
!
route-map dn42 permit 10
 match ip address dn42
exit
{% if inventory_hostname == 'edge-rtr-01' %}
route-map LOCALPREF_PEER permit 10
 match ip address LOCAL_PREF
 set local-preference 300
exit
{% endif %}
!
end